@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  :root {
    --gradient: #09203f;
    --background: 228 98.75% 98.28%;
    --foreground: 228 7.5% 0.56%;

    --muted: 228 7.5% 91.4%;
    --muted-foreground: 228 3.75% 41.4%;

    --popover: 228 45% 95.7%;
    --popover-foreground: 228 7.5% 0.7000000000000001%;

    --card: 228 45% 95.7%;
    --card-foreground: 228 7.5% 0.7000000000000001%;

    --border: 228 12.5% 89.56%;
    --input: 228 12.5% 89.56%;

    --primary: 228 75% 14%;
    --primary-foreground: 228 1.5% 91.4%;

    --secondary: 228 32.25% 89.68%;
    --secondary-foreground: 228 5.5% 11.4%;

    --accent: 228 32.25% 89.68%;
    --accent-foreground: 228 5.5% 11.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 228 75% 14%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #dfe9f3;

    --background: 223 29.25% 7.28%;
    --foreground: 223 4.5% 99.55%;

    --muted: 223 22.5% 27.3%;
    --muted-foreground: 223 4.5% 59.1%;

    --popover: 223 56% 11.83%;
    --popover-foreground: 223 4.5% 99.55%;

    --card: 223 56% 11.83%;
    --card-foreground: 223 4.5% 99.55%;

    --border: 223 22.5% 27.3%;
    --input: 223 22.5% 27.3%;

    --primary: 223 45% 91%;
    --primary-foreground: 223 4.5% 9.1%;

    --secondary: 223 22.5% 27.3%;
    --secondary-foreground: 223 4.5% 99.55%;

    --accent: 223 22.5% 27.3%;
    --accent-foreground: 223 4.5% 99.55%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 223 4.5% 99.55%;

    --ring: 223 45% 91%;

    --radius: 0.5rem;
  }

}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}